<div class="content-wrapper">
  <div class="content-overflow">
    <div class="container">
      <div class="row justify-content-center " data-aos="fade-up">
        <div class="col-xl-12">
          <div class="bg-white main-img-radius-top main-img-radius-bottom">
            <div class="card-body">
              <div class="d-flex border-bottom pb-4 justify-content-center">

              </div>
              <div class="d-flex border-bottom py-4  justify-content-center">
                <div class="content" [innerHTML]="lineForm1">...</div>
              </div>
              <div class="d-flex border-bottom py-4  justify-content-center">
                <div class="content" [innerHTML]="lineForm2">...</div>
              </div>
              <div class="d-flex border-bottom py-4 flex-wrap justify-content-center px-lg-5">
                <button id="fillEBtn" class="btn btn-outline-primary m-2 flex-grow-1"
                        onclick="fillTestValuesInLine(1);">G1 mit
                  Random Werte füllen
                </button>
                <button id="fillGBtn" class="btn btn-outline-primary m-2 flex-grow-1"
                        onclick="fillTestValuesInLine(2);">G2 mit
                  Random Werte füllen
                </button>
                <button id="drawEBtn" class="btn btn-outline-primary m-2 flex-grow-1" onclick="drawLine(1);">G1
                  zeichnen
                </button>
                <button id="drawGBtn" class="btn btn-outline-primary m-2 flex-grow-1" onclick="drawLine(2);">G2
                  zeichnen
                </button>
                <button id="intersectionBtn" class="btn btn-outline-success m-2 flex-grow-1"
                        onclick="findIntersectionPointBetweenTwoLines()">Winkel berechnen
                </button>
                <button class="btn btn-outline-danger m-2 flex-grow-1" onclick="reset();">Zurücksetzen</button>
              </div>
              <h2 class="result text-center pt-3">Winkel zwischen V<sub>1</sub> und V<sub>2</sub> </h2>
              <div class="d-flex py-4 align-items-center justify-content-center">
                <div class="d-flex py-4 justify-content-center">

                </div>
              </div>
              <div class="d-flex py-4 justify-content-center">
                <h2 class="result text-center" id="no-intersection">Es gibt keinen Schnittpunkt. Die Geraden sind
                  windschief zueinander.</h2>
              </div>

              <div class="d-flex py-4 align-items-center justify-content-center">
                <div id="ggb-element"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









