<div class="content-wrapper">
  <div class="content-overflow">
    <div class="container">
      <!--Straights-->
      <div class="row" data-aos="fade-up">
        <div class="col-xl-6 grid-margin">
          <div class="position-relative">
            <img src="../../assets/images/gerade.png" alt="thumb" class="img-fluid bg-dark  main-img-radius-top"
                 style="width: 100%"/>
            <div class="banner-content bg-white py-3 position-relative mainContainer main-img-radius-bottom">
              <h3>Gerade</h3>
              <h6 style="line-height: 2rem">
                Eine gerade Linie oder kurz Gerade ist ein Element der Geometrie.
                Sie ist eine gerade, unendlich lange, unendlich dünne und in beide Richtungen unbegrenzte Linie.
                Die kürzeste Verbindung zweier Punkte wird hingegen als Strecke bezeichnet.
                <a href="https://de.wikipedia.org/wiki/Gerade" style="text-decoration: none;
                    color: lightslategray">mehr lesen</a>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-6 stretch-card grid-margin">
          <div class="bg-white main-img-radius-top main-img-radius-bottom">
            <div class="card-body">
              <h1 class="display-6 text-black text-center">Operationen an Geraden</h1>
              <div class="d-flex border-bottom py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Gerade zwischen zweit Punkten</h4>
                </div>
                <a style="text-decoration: none ; color: black" (click)="navigateToLineBetweenTowPoints()">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/line-between-tow-points.png" alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>
              <div class="d-flex border-bottom py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Die Länge einer Gerade zweichen zwei Punkten</h4>
                </div>
                <a style="text-decoration: none ; color: black" (click)="navigateToLengthBetweenTwoPoints()">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/line-length.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>
              <div class="d-flex border-bottom py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Parallele Geraden</h4>
                </div>
                <a style="text-decoration: none ; color: black" (click)="navigateToParallelLine()">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/parallel-lines.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>
              <div class="d-flex pt-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Schnittpunkt zweier Gerade</h4>
                </div>
                <a style="text-decoration: none ; color: black" (click)="navigateToIntersectionOfTwoLine()">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/schnitt-punkt-lines.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>

      <!--Vectors-->
      <div class="row" data-aos="fade-up">
        <div class="col-xl-6 grid-margin">
          <div class="position-relative">
            <img src="assets/images/vectors.png" alt="thumb" class="img-fluid bg-dark  main-img-radius-top"
                 style="width: 100% ;"/>
            <div class="banner-content bg-white py-3 position-relative mainContainer main-img-radius-bottom">
              <h3>Vectoren:</h3>
              <h6 style="line-height: 2rem">
                Bei Vektoren handelt es sich aus geometrischer Sicht um Strecken mit einer bestimmten Länge, die
                sowohl eine bestimmte Richtung,
                wie auch einen bestimmten Richtungssinn haben; dieser wird in Zeichnungen durch Pfeil am Ende der
                Strecke hervorgehoben.
                In der Formelschreibweise werden Vektoren meist mit kleinen lateinischen Buchstaben bezeichnet und
                durch einen Pfeil über der Vektorgröße markiert.
              </h6>
            </div>

          </div>
        </div>
        <div class="col-xl-6 stretch-card grid-margin">
          <div class="bg-white  main-img-radius-top main-img-radius-bottom ">
            <div class="card-body">
              <h1 class="display-6 text-black">Operationen an Vektoren</h1>

              <div class="d-flex border-bottom py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Die Länge eines Vektors</h4>
                </div>
                <a style="text-decoration: none ; color: black" routerLink="vectors">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/vector-length.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>
              <div class="d-flex border-bottom py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Der Winkel zwischen zwei Vektoren</h4>
                </div>
                <a style="text-decoration: none ; color: black" routerLink="vectors">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/vector-winckel.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>
              <div class="d-flex py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Arithmetische Operationen an Vektoren</h4>
                </div>
                <a style="text-decoration: none ; color: black" routerLink="vectors">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/athmathisch-vector.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>

      <!--Planes-->
      <div class="row" data-aos="fade-up">
        <div class="col-xl-6 grid-margin">
          <div class="position-relative">
            <img src="../../assets/images/ebene_img.png" alt="thumb" class="img-fluid bg-dark  main-img-radius-top"
                 style="width: 100% ;"/>
            <div class="banner-content bg-white py-3 position-relative main-img-radius-bottom">
              <h3>Ebene:</h3>
              <h6 style="line-height: 2rem">
                Die Ebene ist ein Grundbegriff der Geometrie.
                Allgemein handelt es sich um ein unbegrenzt ausgedehntes flaches zweidimensionales Objekt.
                Hierbei bedeutet unbegrenzt ausgedehnt und flach,
                dass zu je zwei Punkten auch eine durch diese verlaufende Gerade vollständig in der Ebene liegt.
              </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-6 stretch-card grid-margin">
          <div class="bg-white main-img-radius-top main-img-radius-bottom">
            <div class="card-body">
              <h1 class="display-6 text-black">Operationen an Ebenen</h1>

              <div class="d-flex border-bottom py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Der Schnittpunkt mit einer Gerade</h4>
                </div>
                <a style="text-decoration: none ; color: black" (click)="navigateToIntersectionOfPlaneAndLine()">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/schnittpunkt-gerade-und-ebene.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>
              <div class="d-flex border-bottom py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Die Schnittmenge zweier Ebenen</h4>
                </div>
                <a style="text-decoration: none ; color: black" (click)="navigateToIntersectionOfPlanes()">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/schnittmenge-von-zwei-ebenen.png" alt="thumb"
                         class="img-fluid"/>
                  </div>
                </a>
              </div>
              <div class="d-flex py-4 align-items-center justify-content-between">
                <div class="px-2" style="min-width: 50%">
                  <h4>Parallele Ebenen</h4>
                </div>
                <a style="text-decoration: none ; color: black" (click)="navigateToParallelPlane()">
                  <div class="rotate-img rounded">
                    <img src="../../assets/images/parallel-ebene.gif" alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

