<div class="content-wrapper">
  <div class="content-overflow">
    <div class="container">
      <div class="row justify-content-center " data-aos="fade-up">
        <div class="col-xl-12">
          <div class="bg-white main-img-radius-top main-img-radius-bottom">
            <div class="card-body">
              <div class="d-flex border-bottom py-4  justify-content-center">
                <div class="content" [innerHTML]="vectorInputForm1">...</div>
              </div>
              <div class="d-flex border-bottom py-4  justify-content-center">
                <div class="content" [innerHTML]="vectorInputForm2">...</div>
              </div>
              <div class="d-flex border-bottom py-4 flex-wrap justify-content-center px-lg-5">
                <button id="fillEBtn" class="btn btn-outline-primary m-2 flex-grow-1"
                        onclick="fillTestValuesInVector(1);">V1 mit
                  Random Werte füllen
                </button>
                <button id="fillGBtn" class="btn btn-outline-primary m-2 flex-grow-1"
                        onclick="fillTestValuesInVector(2);">V2 mit
                  Random Werte füllen
                </button>
                <button id="drawEBtn" class="btn btn-outline-primary m-2 flex-grow-1" onclick="drawVector(1);">V1
                  zeichnen
                </button>
                <button id="drawGBtn" class="btn btn-outline-primary m-2 flex-grow-1" onclick="drawVector(2);">V2
                  zeichnen
                </button>
                <button class="btn btn-outline-success m-2 flex-grow-1"
                        onclick="addTwoVectors()">V1 + V2
                </button>
                <button class="btn btn-outline-success m-2 flex-grow-1"
                        onclick="subTwoVectors()">V1 - V2
                </button>
                <button class="btn btn-outline-success m-2 flex-grow-1"
                        onclick="mulTwoVectors()">V1 * V2
                </button>
                <button class="btn btn-outline-success m-2 flex-grow-1"
                        onclick="divTwoVectors()">V1 / V2
                </button>
                <button class="btn btn-outline-success m-2 flex-grow-1"
                        onclick="scalarProduct()">Skalarprodukt
                </button>
                <button class="btn btn-outline-danger m-2 flex-grow-1" onclick="reset();">Zurücksetzen</button>
              </div>
              <div id="result-container">
                <h2 class="result text-center pt-3">Ergebniss Vektor V<sub>3</sub></h2>
                <div class="d-flex py-4 align-items-center justify-content-center">
                  <div class="d-flex py-4 justify-content-center">
                    <div class="content" [innerHTML]="vectorOutputForm">...</div>
                  </div>
                </div>
              </div>
              <div class="d-flex py-4 justify-content-center">
                <h2 class="result text-center" id="no-intersection">Es gibt keinen Schnittpunkt. Die Geraden sind
                  windschief zueinander.</h2>
              </div>

              <div class="d-flex py-4 align-items-center justify-content-center">
                <div id="ggb-element"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









